Django==1.6.2
GDAL==1.10.1
Pillow==2.3.0
dj-database-url==0.2.2
django-bootstrap3==3.1.0
django-geojson==2.3.0
django-leaflet==0.11.1
django-taggit==0.11.2
httplib2==0.8
psycopg2==2.5.2
python-dateutil==2.2
pytz==2013.9
six==1.5.2
sorl-thumbnail==11.12
