{% extends "base.html" %}

{% load thumbnail %}
{% load bootstrap3 %}
{% load staticfiles %}
{# % load leaflet_tags % #}

{% block title %}
	MIL-kuvat - Georeferointi
{% endblock %}

{% block includes %}

    {# % leaflet_js plugins="draw" % #}
    {# % leaflet_css plugins="draw" % #}

 <link rel="stylesheet" href="{% static "leaflet/draw/leaflet.draw.css" %}"> 
        <link rel="stylesheet" href="{% static "jcarouselOma.css" %}">
	         <link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}"> 
	        
			 <script type="text/javascript" src="{% static "leaflet/leaflet-src.js" %}"></script> 
		<script type="text/javascript" src="{% static "proj4js/proj4-compressed.js" %}"></script>
		<script type="text/javascript" src="{% static "proj4js/proj4leaflet.js" %}"></script>
<script type="text/javascript" src="{% static "leaflet/draw/leaflet.draw.js" %}"></script> 
		
		<script type="text/javascript" src="{% static "jcarousel/jquery.jcarousel.js" %}"></script>
		<script type="text/javascript" src="{% static "jcarouselOma.js" %}"></script>

        <script type="text/javascript" src="{% static "omasrs.js" %}"></script>
        <script type="text/javascript" src="{% static "georef.js" %}"></script>
<script type="text/javascript" src="http://openlayers.org/api/2.11/OpenLayers.js"></script>
<script type="text/javascript" src="{% static "gis/js/OLMapWidget.js" %}"></script>
    
{% endblock %}

{% block content %}
<div class="container-fluid fill">
	<div id="maps" class="row fill">
		<div class="col-lg-6" id="imagemap">
		</div>
		<div class="col-lg-6" id="map">
		</div>
	</div>
</div>
<div id="kuvaInfoFooter">
    <div class="container">
        <form id="georefForm" action="?" method="post">
        {% csrf_token %}
        {# {% bootstrap_form form %} #}
        {{ form.as_p }}
        
        {#{ gcpFormSet.as_table }#}
        
        {#% comment %#}
        {{ gcpFormSet.management_form }}
        {% for form in gcpFormSet %}
            {{ form.id }}
            {{ form.DELETE }}
            {{ form.kuva }}
            {{ form.image }}
            {{ form.ground }}
        {% endfor %}
        {#% endcomment %#}
		<button id="btnTallenna" class="btn btn-primary pull-right">Tallenna</button>
		</form>
    </div>
</div>

<script>
	var kuvaHeight = {{ kuva.jpgImage.height }};
	var kuvaWidth = {{ kuva.jpgImage.width }};
	var gsName = "{{ kuva.gsName }}";
</script>
{% endblock %}